﻿<%@ Page Title="About" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="About.aspx.cs" Inherits="CiDataLabTest.About" %>

<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">
    <main aria-labelledby="title">
        <h3>Тестовое задание 1.0 Веб-приложение ASP.NET WebForms + MS SQL</h3>
        <p> Необходимо реализовать справочник клиентов и их счетов:
Необходимо создать базу данных с 2 связанными сущностями Customer (организации) и Account (счета организаций). Разработать интерфейс отображения списка счетов конкретной выбранной организации. Справочник должен позволять добавлять организации, добавлять счета для существующей организации, производить редактирование счетов и организаций, а также их удаление.
        </p>
        <p>Форматы и ограничения на реквизиты:</p>
<p>
Customer:</p>
<p>1. Наименование организации. Строка 100 символов, Обязательное заполнение.</p>
<p>2. ИНН организации. Строка 12 символов, Обязательное заполнение.
Допустимы только цифры.</p>
<p>3. Адрес организации. Строка 255 символов, Необязательное заполнение.</p>
    

<p>Account:</p>
<p>1. Счет. Строка 20 символов, Обязательное заполнение. Длина строго 20 символов.
Только цифры.</p>
<p>2. Название счета. Строка 100 символов. Необязательное заполнение.</p>
<p>3. БИК банка. Строка 9 символов. Допустимые символы только цифры.
Обязательное заполнение.</p>
<p>4. Остаток на счете. Числовое с двумя знаками после запятой.
Сумма остатка должна попадать в диапазон от 0 до 999 999 999 999.99 включительно.
Обязательное заполнение.</p>
    </main>
</asp:Content>
